/*
 * Created by: Mario Carvalho
 * 42021 MIEI
 */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 100%;
    float: left;
}

h1, h2, h3 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.33333;
}


a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;

}

.hidden {
    display: none !important;
}
/*
 * HEADER
 */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 6%;
    display: table;
    color: #000;
    background-color: #F8F8FC;
    z-index: 3;
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

}



.header nav {
    display: inline-block;
    width: 33.33%;
    float: left;
}

.header nav:nth-child(2n) {
    text-align: center;
}

.header nav:last-of-type
{
    text-align: right;
}
.header-wrap {
    padding-left: 15em;
    padding-right: 15em;
    display: table-cell;
    vertical-align: middle;
}

.header-logo{
    margin: 0;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.search-navigation {
    float: left;
}
.user-search {
    display: none;
    border: 1px solid #F8F8FC;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans',sans-serif;
    outline: 0 none;
    width: 50%;
}
.current-user-navigation {
    float: right;
}

/*
 * CONTENT
 */
.content {
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}
.content-wrapper {
    float: left;
    margin-bottom: 3%;
    width: 100%;
}
.content-wrapper .new-post {
    margin-top: 10px;
    width: 100%;
    float: left;

}
.content-wrapper .new-post ul {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.content-wrapper .new-post ul li{
    width: 33.33%;
    float: left;
}

.content-wrapper .new-post ul li button {
    border: 1px solid black;
    background: #F8F8FC;
    -moz-outline:0 none;
    outline:0 none;
    padding: 11px 22px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    text-transform:uppercase;
    cursor: pointer;
}
.content-wrapper .new-post ul li button.active {
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

}
.content-wrapper .new-post ul li button:hover {
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

}
.content-wrapper .new-post ul li:first-child {
    text-align: right;

}
.content-wrapper .new-post ul li:nth-child(2n) {
    text-align: center;
}

.content-wrapper .new-post ul li:last-child
{
    text-align: left;
}

.content-wrapper .new-post ul li button span {
    margin-left: 10px;
}

.content-wrapper .new-post .input-wrapper
{
    width: 100%;
    float: left;
    text-align: center;
}

.content-wrapper .new-post .input-wrapper .close-input
{
    width: 50%;
    float: right;
    text-align: center;
    margin-right: 5px;
}

.content-wrapper .new-post .input-wrapper .submit-input
{
    width: 50%;
    float: right;
    text-align: center;
    margin-right: 5px;
}

.content-wrapper .new-post .input-wrapper .submit-input button
{
    border: 1px solid #000000;
    background: #F8F8FC;
    -moz-outline:0 none;
    outline:0 none;
    padding: 5px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 35px;
}


.content-wrapper .new-post .input-wrapper textarea
{
    border: 1px solid #F8F8FC;

    width: 50%;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    -moz-outline:0 none;
    outline:0 none;
    resize: none;
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

}

.content-wrapper .new-post .input-wrapper input
{
    border: 1px solid #F8F8FC;
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

    width: 50%;
    font-family: 'Open Sans', sans-serif;
    -moz-outline:0 none;
    outline:0 none;

}
.content-card-wrapper {
    float: left;
    width: 100%;
}
.content-card {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 600px;
    height: 250px;
    margin: 0 auto;
}

.content-card .circular
{
    background-size: 70px 70px;
}
.content-image {
    float: left;
}

.content-title {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    float: left;
    margin-left: 15px;
    margin-top: 25px;

}

.content-title-link {
    color: #000000;
    cursor: pointer;

}

.content-title-page-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.content-title-page-link:hover {
    text-decoration: underline;
}

.content-description {
    float: left;
    width: 480px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: auto;
    margin-left: 15px;
    margin-right: 10px;

}

.content-description .content-description-image {
    float: left;
    width: 150px;
    height: 150px;
}

.content-description .content-description-image img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.content-description .content-description-text {
    float: left;
    margin-left: 10px;
    width: 320px;
}
.content-description .content-description-text-title {
    float: left;
    width: 100%;
}

.content-description .content-description-text-title h2{
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-top: 0;
}

.content-description .content-description-text-subject {
    float: left;
    width: 100%;
}
.content-description .content-description-text-subject p{
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 0;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.content-options {
    float: left;
    width: 320px;
    margin-left: 10px;
    font-weight: 300;
    font-size: 0.8em;
}

.content-options .cool-stuff {
    width: 50%;
    float: left;
}

.content-options .share {
    width: 50%;
    float: left;

}
.content-options .cool-link,
.content-options .share-link {
    margin-left: 5px;
}

.content-options .cool-link:hover,
.content-options .share-link:hover
{
    cursor: pointer;
    text-decoration: underline;

}
.connections-nice{
    width: 100%;
    text-align: right;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.connections-nice p {
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 0;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 10px;
}
.circular {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    background-size: 70px 70px;
    /*
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    */
    float: left;
    z-index: -1;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

/*
 * FOOTER
 */

.footer {
    position: fixed;
    bottom: 0;
    z-index: 3;
    box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
    width: 100%;
    height: 6%;
    display: table;
    color: #000;
    background-color: #F8F8FC;
    box-shadow:0 -1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}


.footer nav {
    display: inline-block;
    width: 33.33%;
    float: left;
    font-weight: 200;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.footer nav:nth-child(2n) {
    text-align: center;
}

.header nav:last-of-type
{
    text-align: right;
}
.footer-wrap {
    padding-left: 15em;
    padding-right: 15em;
    display: table-cell;
    vertical-align: middle;
}

.copyright{
    margin: 0;

}
.footer-middle {
    float: left;
}

.created-by {
    float: right;
}

.footer .footer-wrap .created-by-nav .small {
    display: none;

}
.footer .footer-wrap .created-by-nav .big {
    display: block;

}

@media screen and (max-width: 1200px) {
    .header-wrap {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .footer-wrap {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: 30px;
    }


    .header nav:first-of-type {
        width: 30%;
        margin-top: 8px;
    }
    .header nav:last-of-type {
        margin-top: 8px;
    }

    .header nav:nth-child(2n) {
        margin-bottom: 5px;
        width: 36%;
    }

    .header-logo {
        font-size: 0.6em;
    }

    .search-navigation i {
        font-size: 0.5em;
    }
    .header-wrap {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }


    button.new-post-button span {
        display: none;
    }

    .content-card {
        margin: 15px;
        float: left;
        height: auto;
        width: 100%;
        font-size: 0.8em;
    }
    .content-description {
        margin-left: 16px;
        width: 65% !important;
    }
    .content-description-image {
        display: none;
    }

    .content-description-text {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .content-options {
        width: 100% !important;
        margin-left: 0;
    }
    .content-options .share {
        width: 50%;
        text-align: right;
        float: left;
    }
    .connections-nice {
        width: 100%; !important
        margin-top: 5px;
    }
    .connections-nice p{
        font-size: 0.7em;

    }
    .footer {
        position: relative;
    }


    .footer-wrap {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .footer .footer-wrap .created-by-nav .small {
        display: block;

    }
    .footer .footer-wrap .created-by-nav .big {
        display: none;

    }
    .content-card .content-title {
        margin-left: 5px;
    }
    .content-card .content-description {
        margin-left: 5px;
    }
}

@media screen and (max-width: 590px) {
    .content-card {
        width: auto;
    }


}
@media screen and (max-width: 318px) {
    .content-card {
        font-size: 0.8em;
    }
}
