span.bolder
{
    font-weight: 900;
}
.left-collumn {
    width: 30%;
    float: left;
    margin-top: 10px;

}

.right-collumn {
    width: 70%;
    float: left;
    margin-top: 10px;
}

.user-pic-wrapper {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}
.circular.profile
{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    float: none;
    margin: 0 auto;
}

.left-collumn .user-nav ul {
    list-style-type: none;
    padding: 0;
    font-weight: 300;
    font-size: 1em;
}
.left-collumn .user-nav ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.left-collumn .user-nav ul li a{
    cursor: pointer;
}

.left-collumn .user-nav ul li a:not(.active):hover{
    text-decoration: underline;
}
.left-collumn .user-nav ul .active{
    font-weight: 600;
}

.left-collumn .user-nav .nav-icon {
    width: 40%;
    text-align: right;
}

.left-collumn .user-nav .user-nav-link {
    width: 60%;
    text-align: left;
    margin-left: 5px;
}
.right-collumn .user-name {
    float: left;
    width: 100%;
}
.right-collumn .user-name h1{
    font-weight: 300;
    font-size: 3em;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.right-collumn .user-location {
    float: left;
    width: 100%;
    margin-left: 5px;
}
.right-collumn .user-location h2{
    font-weight: 300;
    font-size: 1em;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
}

.right-collumn .user-location .location-marker {
    float: left;
    font-size: 20px;
}

.right-collumn user-current-job {
    width: 100%;
    float: left;
}

.right-collumn .user-current-job p{
    font-weight: 300;
    font-size: 1em;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
}

.right-collumn .user-description {
    width: 100%;
    float: left;

}

.right-collumn .user-description p {
    font-weight: 300;
    font-size: 1em;
    text-overflow: ellipsis;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
}

.right-collumn .user-content-wrapper {
    float: left;
    width: 100%;
    padding-bottom: 3%;
    font-weight: 300;
    font-size: 1em;
}

.right-collumn .user-content-wrapper h2 {
    font-weight: 600;
    font-size: 1.5em;
}
.right-collumn .company-content-wrapper {
    float: left;
    width: 100%;
    padding-bottom: 3%;
    font-weight: 300;
    font-size: 1em;
}

.user-current-job {
    float: left;
    width: 100%;
}
.right-collumn .company-content-wrapper .company-people-now {
    float: left;
    width: 100%;

}

.right-collumn .company-content-wrapper .company-people-now ul {
    list-style-type: none;
    width: 100%;
}

.right-collumn .company-content-wrapper .company-people-now ul li .circular
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    float: left;
}

.right-collumn .company-content-wrapper .company-people-now ul li .name {
    float: left;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .left-collumn, .right-collumn {
        width: 100% !important;
    }

    .left-collumn .user-nav ul > li {
        width: 33.33%;
        float: left;
    }

    .user-pic-wrapper {
        margin-top: 20px !important;
    }
}